<%- include('partials/header') -%>
<div class="container " style="margin-top: 40px;">
  <div class="row">
     <div class="col-md-8 mx-auto">
       <div class="card" style="margin-bottom: 40px; padding-left: 10px;padding-right: 10px;">
         <div class="card-header" style=" padding:0px;padding-top:5px;background-color: white;border-style: none;display: flex;">
           <i class="fa fa-user-circle-o" style="font-size: 36px; padding-top: 5px;"></i>
           <span style=" padding-left: 10px; padding-top:15px;"><h6><%= posts.user.name %></h6></span>
         </div>
         <div class="card-body" style="padding:0px;padding-top:20px;padding-bottom: 10px;">
           <h5 class="card-title"><%=posts.title%></h5>
           <p class="card-text"><%=posts.postBody%></p>
         </div>
         <img src="<%=posts.imgUrl%>" class="card-img">
         <div class="card-body" style="padding:0px;padding-top:20px;padding-bottom: 10px;">
          <i class='fa fa-answer' style='font-size:26px;padding-top:1px;'>View Answers</i>
             <div style="padding:0px;padding-top:20px;padding-bottom: 10px;">
              <ul id="post-comments-<%= posts._id %>" style="padding:0px;padding-top:20px;padding-bottom: 10px;">
                  <% for (comment of posts.comments){%>                   
                  <p>
                      <%= comment.content %>
                      <br>
                      <h6 style="font-weight: bold;">
                         -<%= comment.user.name %>
                      </h6>
                  <input type="text" placeholder="Place your comment... " style="width: 70%;">
                  </p> 
                  <hr>   
                  <%} %>
              </ul>
          </div>
         </div>
       </div>
     </div>
  </div>
</div>
<%- include('partials/footer') -%>
